@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-purple-color: #6070ff;
  --secondary-color: #344563;
  --font-heavey-pruple-color: #172b4d;
  --light-grey-color: #7a869a;
  --very-light-puple-color: #ebebff;
}

body {
  background-color: #e5e5e5;
  position: relative;
  z-index: -1;
}

/* Toolbar */
.toolbar-container {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}

.toolbar-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 40px auto;
}

.toolbar-brandname {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: var(--main-purple-color);
}

.navbar-links-container {
  display: none;
}

/* Headline */
.headline-container {
  /* border: 1px solid red; */
  background-image: url(images/header-shapes\ mobile@2x.svg);
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 114px 24px 12px 24px;
  margin-top: 108px;
  border-radius: 0 0 0 50px;
}

.headline-greeting {
  /* border: 1px solid green; */
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: var(--font-heavey-pruple-color);
  margin-bottom: 10px;
}

.headline-text {
  /* border: 2px solid orange; */
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: var(--secondary-color);
}

.headline-connect-text {
  /* border:1px solid red; */
  color: #7f8cff;
  font-weight: 500;
  line-height: 24px;
  margin: 10px 0;
}

.headline-socialmedia-icons-container {
  display: flex;
  align-items: center;
  list-style: none;
}

.headline-socialmedia-icons-container img {
  margin: 1px 20px 1px 0;
  width: 20px;
}

/* Works */
.works-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 88px;
  margin: 114px 24px;
}

/* Card */
.card-container {
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.card-preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.desktop {
  display: none;
}

.card-info-title {
  width: 60%;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: var(--font-heavey-pruple-color);
}

.card-info-details-container {
  margin: 12px 0;
}

.card-info-client-name {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: var(--secondary-color);
  margin: 12px 0;
}

.card-info-details-container img {
  margin: 0 12px;
}

.card-info-role,
.card-info-date {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: var(--light-grey-color);
}

.card-info-description {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: var(--font-heavey-pruple-color);
}

.card-info-tags-container {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 12px 0;
}

.card-info-tag {
  border-radius: 8px;
  padding: 4px 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-right: 5px;
  color: var(--main-purple-color);
  background-color: var(--very-light-puple-color);
}

.card-info-link-container button {
  border: 1px solid var(--main-purple-color);
  border-radius: 8px;
  padding: 12px;
  color: #396df2;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* About myself */
#about-myself-container {
  /* border:1px solid orange; */
  border-radius: 0 100px 0 0;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 114px 24px 12px 24px;
}

.skillset-container {
  /* border:1px solid green; */
  list-style: none;
  margin: 48px auto;
}

.skill-container {
  /* border:1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

.skill-title {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
}

.languages-container {
  list-style: none;
}

.language-container {
  /* border:1px solid orange; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 12px;
  background-color: #f7f7f9;
  border-radius: 8px;
}

.language-container img {
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 12px;
}

.language-name {
  margin-left: 16px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
}

.right-arrow-icon {
  transform: rotate(-90deg);
}

hr {
  border: 1px solid #dfe1e6;
  margin: 10px 0;
}

/* Form */
.form-container {
  border: 1px solid transparent;
  background: var(--main-purple-color);
  border-radius: 100px 0 0 0;
  background-image: url(images/contact-form-shapes-mobile.svg);
  background-position: right top;
  background-repeat: no-repeat;
  position: relative;
}

.form-content-container {
  /* border: 3px solid blue; */
  margin: 103px 24px;
  display: flex;
  flex-direction: column;
}

.form-header {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}

.form-description {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: var(--very-light-puple-color);
  margin-top: 12px;
  margin-bottom: 52px;
}

form {
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form-element,
textarea {
  border: 1px solid #cfd8dc;
  color: var(--font-heavey-pruple-color);
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  padding: 15px 16px;
  border-radius: 8px;
  outline: none;
}

textarea {
  font-size: 15px;
  line-height: 24px;
}

#submit-btn {
  /* border: 1px solid red; */
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-purple-color);
  border-radius: 8px;
  padding: 12px 16px;
  width: 50%;
  border: none;
}

.black-line-container {
  position: absolute;
  bottom: 8px;
  left: 120px;
}

/* Pseduo Classes btns */
.card-info-link-container button:hover,
#submit-btn:hover {
  color: #fff;
  background-color: #6070ff;
}

.card-info-link-container button:active,
#submit-btn:active {
  color: #fff;
  background-color: #2230d2;
}

/* Desktop screen */
@media (min-width: 768px) {
  /* Toolbar */
  .toolbar-content-container {
    /* border: 2px solid green; */
    width: 80%;
  }

  .toolbar-menu-container img {
    display: none;
  }

  .navbar-links-container {
    /* border: 1px solid orange; */
    display: flex;
    list-style-type: none;
  }

  .navbar-links-container a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    margin: 0 32px;
    color: var(--secondary-color);
  }

  /* Headline */
  .headline-container {
    /* border: 2px solid red; */
    background-image: url(images/Header\ bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 0 100px;
  }

  .headline-content-container {
    /* border: 2px solid green; */
    width: 70%;
    margin: 200px auto;
  }

  .headline-greeting {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.37px;
    text-align: left;
  }

  .headline-text {
    width: 95%;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
  }

  .headline-connect-text {
    margin-top: 30px;
  }

  /* Works */
  .works-container {
    /* border: 1px solid orange; */
    gap: 142px;
    margin: 142px;
  }

  /* Card */
  .card-container {
    /* border: 1px solid purple; */
    flex-direction: row;
    padding: 24px;
    column-gap: 46px;
  }

  .mobile {
    display: none;
  }

  .card-preview-container img {
    /* border: 1px solid brown; */
    width: 100%;
  }

  .card-container:nth-child(even) {
    border: 1px solid #dfe1e6;
    justify-content: space-around;
  }

  .card-container:nth-child(even) .card-preview-container {
    order: 2;
  }

  .card-info-container,
  .card-preview-container {
    flex: 1;
    /* border: 1px solid orange; */
  }

  .desktop-inline {
    display: inline;
  }

  .desktop {
    display: block;
  }

  .card-info-container {
    /* border: 1px solid green; */
    padding: 24px;
  }

  .card-info-title {
    font-size: 40px;
    line-height: 52px;
    width: 100%;
  }

  .card-info-client-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }

  .card-info-role,
  .card-info-date {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  .card-info-description {
    /* border: 1px solid green; */
    width: 90%;
    font-size: 16px;
  }

  .card-info-tags-container {
    margin: 24px 0;
  }
  /* About myself */
  #about-myself-container {
    border: 1px solid red;
    border-radius: 0px 70px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-myself-top-container {
    /* border: 1px solid purple; */
    flex: 2;
  }

  .aboutmyself-headline-title-desktop {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0em;
  }
  .aboutmyself-headline-text-desktop {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  .aboutmyself-headline-connect-text-desktop {
    font-size: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 26px;
  }

  .card-info-link-container {
    /* border: 1px solid blue; */
    margin-top: 34px;
  }

  .skillset-container {
    /* border: 1px solid green; */
    flex: 3;
  }
}
