@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-purple-color: #6070ff;
  --secondary-color: #344563;
  --font-heavey-pruple-color: #172b4d;
  --light-grey-color: #7A869A;
  --very-light-puple-color: #EBEBFF;

}

/* Toolbar */
.toolbar-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 44px auto;
}

.toolbar-brandname {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: var(--main-purple-color);
}

.navbar-links-container {
  display: none;
}

/* Headline */
.headline-container {
  /* border: 1px solid red; */
  background-image: url(images/header-shapes\ mobile@2x.svg);
  font-family: 'Poppins', sans-serif;
  padding: 114px 24px 12px 24px;
}

.headline-greeting {
  /* border: 1px solid green; */
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: var(--font-heavey-pruple-color);
  margin-bottom: 10px;
}

.headline-text {
  /* border: 2px solid orange; */
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: var(--secondary-color);
}

.headline-connect-text {
  /* border:1px solid red; */
  color: #7f8cff;
  font-weight: 500;
  line-height: 24px;
  margin: 10px 0;
}

.headline-socialmedia-icons-container {
  display: flex;
  align-items: center;
  list-style: none;
}

.headline-socialmedia-icons-container img {
  margin: 1px 20px 1px 0;
  width: 20px;
}

/* Works */
.works-container{
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 88px;
  margin:114px 24px;
}

/* Card */
.card-container{
  background-color: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  font-family: "Poppins" , sans-serif;
  display: flex;
  flex-direction: column;
  padding:16px;
}

.card-preview-container{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-info-title{
  width:60%;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--font-heavey-pruple-color);
}

.card-info-details-container{
  margin: 12px 0px;
}

.card-info-client-name{
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--secondary-color);
  margin: 12px 0px;
}

.card-info-details-container img{
  margin:0px 12px;
}

.card-info-role,.card-info-date{
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--light-grey-color);
}

.card-info-description{
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--font-heavey-pruple-color);
}

.card-info-tags-container{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin:12px 0px;
}

.card-info-tag{
  border-radius: 8px;
  padding:4px 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-right: 5px;
  color:var(--main-purple-color);
  background-color: var(--very-light-puple-color);
}

.card-info-link-container button{
  border: 1px solid var(--main-purple-color);
  border-radius: 8px;
  padding:12px;
  color: #396DF2;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
}












































/* Desktop screen */
@media (min-width: 768px) {
  .toolbar-container {
    /* border:2px solid orange; */
    position: fixed;
    top: 0;
    width: 100%;
  }

  .toolbar-content-container {
    /* border:2px solid green; */
    width: 80%;
  }

  .toolbar-menu-container img {
    display: none;
  }

  .navbar-links-container {
    /* border: 1px solid orange; */
    display: flex;
    list-style-type: none;
  }

  .navbar-links-container a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    margin: 0 32px;
    color: var(--secondary-color);
  }

  .headline-container {
    /* border:2px solid red; */
    background-image: url(images/Header\ bg.svg);
    margin: 110px 20px;
    display: flex;
    flex-direction: column;
  }

  .headline-content-container {
    /* border:2px solid green; */
    width: 70%;
    margin: auto;
  }

  .headline-greeting {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.37px;
    text-align: left;
  }

  .headline-text {
    width: 95%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
  }

  .headline-connect-text {
    margin-top: 30px;
  }
}
